body {
    background-color: #FFE8E8;
    background-image: url(images/stripes.jpg);
    padding: 0;
    margin: 0;
    cursor: default !important;
}
/* staring page */
#intro {
    display: flex;
    align-items: center;
    background-image: url(images/kitchen.JPG);
    width: 1200px;
    height: 700px;
    background-repeat: no-repeat;
    margin: auto;
    padding-left: 100px;
}
#title-buttons {
    display: flex;
}
#title-buttons h3 {
    margin: 10px;
    background-image: url(images/button.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 75px;
    width: 260px;
    align-content: center;
}
/* gameplay */
#play-area {
    margin-top: 100%;
    display: none;
    margin-bottom: 10%;
} 
#kitchen {
    background-image: url(images/kitchen-crop.JPG);
    position: relative;
    /* width: 1200px;
    height: 600px; */
    width: 1100px;
    height: 570px;
    background-repeat: no-repeat;
    margin: auto;
    
}
#kitchen img {
    position: absolute;
}
h1, h2, h3, p, a{
    font-family: "Averia Sans Libre", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
h2 {
    font-size: 70px;
    margin-bottom: 0;
    color: #50140B;
    margin-top: 10px;
}
h3 {
    font-size: 40px;
    margin: 0;
    color: #FFF7EC;
}
p, a {
    font-size: 25px;
    color: #50140B;
}
#actions {
    display: flex;
}
#roll, #rollAgain {
    background-image: url(images/button.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 200px;
    align-content: center;
    margin-top: 10px;
    margin-right: 5px;
}
#pass {
    background-image: url(images/button.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 200px;
    align-content: center;
    margin-top: 10px;
    margin-left: 5px;
}
#gamecontrol {
    display: flex;
    width: 1100px;
    margin: auto;
    padding-top: 15px;
    background-color: #C8967E;
    flex-direction: column;
}
#game {
    font-size: 16px;
}
#playerTurn {
    color: #50140B;
    padding-bottom: 10px;
    margin: 0;
}
#scoreArea {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 1100px;
}
#actionsStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#playerOne {
    margin-right: 15px;
}
#playerTwe {
    margin-left: 15px;
}
#tools {
    display: flex;
    align-items: self-end;
    background-color: #C8967E;
    padding-right: 10px;
    justify-content: end;
}
#tools p {
    padding: 0px 20px 0px 20px;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    border-color: #50140B;
    margin-left: 10px;
    font-size: 15px;
}
/* rules overlay*/
#howPlay {
    display: none; 
    position: absolute;
    justify-content: center;
    background-color: #FFF7EC;
    width: 600px;
    border-radius: 40px;
    padding: 20px;
    left: 0; 
    right: 0; 
    top: 15%;
    margin-inline: auto; 
    
    border: #aa4a48;
    border-style: solid;
    border-width: 10px;
}
#howPlay div {
    display: flex;
}
#howPlay h3, #howPlay p {
    color: #50140B;
}
#howPlay p {
    font-size: 16px;
    text-align: left;
}
#howPlay h3 {
    align-self: end;
    padding-left: 20%;
}
/* gifs */
#lilaSleeping {
    bottom: 20.2%;
    right: 25%;
    
}
#lilaCooking {
    bottom: 8.8%;
    right: 25%;
    
}
#mariReading {
    bottom: -2%;
    left: 5%;
    
}
#mariCooking {
    bottom: 7.3%;
    left: 8%;
    
}

/* outro */
#winner {
    display: none;
    margin: auto;
    margin-top: 250%;
    margin-bottom: 300px;
    background-color: #FFE8E8;
    border-radius: 64px;
    width: 1000px;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    border-color: #aa4a48;
    border-style: solid;
    border-width: 7px;
}
#whoWon {
    color: #aa4a48;
}
#startOver {
    font-size: 30px;
    margin: 10px;
    background-image: url(images/button.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 55px;
    width: 200px;
    align-content: center;
}

/* animation */
.spin {
    animation: spin 1s;
}
@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees rotation */
  }
  100% {
    transform: rotate(360deg); /* End at 360 degrees rotation for a full circle */
  }
}