body {
    background-color: black;
}
main {
    background-image: url(images/bedroom-edited.jpg);
    background-repeat: no-repeat;
    width: 1000px;
    height: 750px;
    margin: auto;
    position: relative;
}
h1 {
    font-family: "Just Me Again Down Here", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 40px;
    text-align: center;
    cursor: default;
    width: max-content;
    margin:auto;
}
h1:hover {
    color: red;
}
img {
    display: block;
    width: 200px;
    position: absolute;
}
#cat {
    right: 60px;
    bottom: 70px;
    width: 250px;
    transition: transform .5s;
}
#cat:hover {
    transform: translate(0px, -10px);
}
#docs {
    bottom: 0;
    left: 250px;
    width: 120px;
    transition: transform .5s;
}
#docs:hover {
    transform: translate(0px, -10px);
}
#sketchbook {
    bottom: 150px;
    right: 400px;
    width: 160px;
    transition: transform .5s;
}
#sketchbook:hover {
    transform: translate(0px, -10px);
}
#switch {
    bottom: 160px;
    left: 170px;
    width: 150px;
    transition: transform .5s;
}
#switch:hover {
    transform: translate(0px, -10px);
}
#speech-bubbles div{
    background-color: white;
    border-radius: 40px;
    padding: 10px 40px;
    position: absolute;
    font-family: "Just Me Again Down Here", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
}
#bubble-1 {
    bottom: 250px;
    left: 45px;
    display: none;   
}
#bubble-2 {
    left: 150px;
    bottom: 150px; 
    display: none;   
}
#bubble-3{
    right: 340px;
    bottom: 270px;
    display: none;   
}
#bubble-4 {
    bottom: 230px;
    right: 65px;
    display: none;   
}
#overlay{
    width: 1000px;
    display: none;
    opacity: 0;
}
.fade-in {
    animation: change-opacity 2.5s;
}

@keyframes change-opacity {
    0%{opacity: 0;}
    100%{opacity: 1;}
}